.iconBelt {
  margin-left: 10%;
  padding-top: 10px;
  display: inline-flex;
  flex-direction: row-reverse;
}

//tooltip:

.tooltipContent {
  border-radius: 4px;
  padding: 10px 15px;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  line-height: 1;
  color: #719cac;
  background-color: #121a21;
  user-select: none;
  animation-duration: 200ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}
.tooltipContent[data-state="delayed-open"][data-side="top"] {
  animation-name: slideDownAndFade;
}
.tooltipContent[data-state="delayed-open"][data-side="right"] {
  animation-name: slideLeftAndFade;
}
.tooltipContent[data-state="delayed-open"][data-side="bottom"] {
  animation-name: slideUpAndFade;
}
.tooltipContent[data-state="delayed-open"][data-side="left"] {
  animation-name: slideRightAndFade;
}

.tooltipArrow {
  fill: #121a21;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

//dropdown:

.DropdownMenuContent {
  min-width: 220px;
  background-color: #121a21;
  border-radius: 6px;
  padding: 5px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}
.DropdownMenuContent[data-side="top"] {
  animation-name: slideDownAndFade;
}
.DropdownMenuContent[data-side="right"] {
  animation-name: slideLeftAndFade;
}
.DropdownMenuContent[data-side="bottom"] {
  animation-name: slideUpAndFade;
}
.DropdownMenuContent[data-side="left"] {
  animation-name: slideRightAndFade;
}

.DropdownMenuCheckboxItem {
  font-size: 18px;
  line-height: 1;
  font-family: "Palanquin", sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #719cac;
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 5px;
  position: relative;
  padding-left: 25px;
  user-select: none;
  outline: none;
}

.DropdownMenuCheckboxItem[data-disabled] {
  color: var(--mauve-8);
  pointer-events: none;
}
.DropdownMenuCheckboxItem[data-highlighted] {
  background-color: #121a21;
  color: var(--violet-1);
}

.DropdownMenuLabel {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  // line-height: 1;
  margin: 0;
  padding-left: 25px;
  //font-size: 12px;
  //line-height: 25px;
  color: #719cac;
}

.DropdownMenuSeparator {
  height: 1px;
  background-color: #719cac;
  margin: 5px;
}

.DropdownMenuItemIndicator {
  // position: absolute;
  // left: 0;
  // width: 25px;
  // display: inline-flex;
  // align-items: center;
  // justify-content: center;
}

.DropdownMenuArrow {
  fill: #121a21;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
