.initiativeBlock {
  text-align: center;
  vertical-align: middle;
  line-height: 120px;

  color: #fff5f6;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 200;

  background: #121a21;
  display: inline-block;
  width: 120px;
  flex-shrink: 0;
  margin-right: 20px;
}
