.list {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  list-style-type: none;
  margin-left: 30px;
  margin-right: 100px;
  overflow-x: clip;
}

.listMobile {
  @extend .list;
  margin-left: 20px;
  margin-right: 20px;
}

.addEntry {
  @extend .list;
  border: 1px solid rgba(255, 245, 246, 0.5);
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.addEntryMobile {
  @extend .listMobile;
  border: 1px solid rgba(255, 245, 246, 0.5);
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.addEntry:hover {
  border: 1px solid rgba(255, 245, 246, 0.866);
}

.addEntry:hover .addEntryIcon {
  stroke-opacity: 0.866;
}

.addEntryMobile:active {
  border: 1px solid rgba(255, 245, 246, 0.866);
}

.addEntryMobile:active .addEntryIcon {
  stroke-opacity: 0.866;
}

.instance {
  display: flex;
  min-height: 120px;
  height: 120px;
  margin-bottom: 10px;
  border-bottom: 2px solid #121a21;
}
.instanceCurrent {
  @extend .instance;
  border-bottom: 1px solid #fcc81c;
  border-left: 8px solid #fcc81c;
}

.rightsideHolder {
  display: flex;
  flex-direction: column;
  min-width: 0px;
  flex: 1;
}

.bottomRowHolder {
  display: flex;
  flex-direction: row;
  flex: 0.5;
}
