.instance {
  display: flex;
  min-height: 120px;
  height: 120px;
  margin-bottom: 10px;
  border-bottom: 2px solid #121a21;
}
.instanceCurrent {
  @extend .instance;
  border-bottom: 1px solid #fcc81c;
  border-left: 8px solid #fcc81c;
}
.instanceMobile {
  display: flex;
  min-height: 80px;
  height: 80px;
  margin-bottom: 10px;
  border-bottom: 2px solid #121a21;
}
.instanceCurrentMobile {
  @extend .instanceMobile;
  border-bottom: 1px solid #fcc81c;
  border-left: 6px solid #fcc81c;
}

.wrapper {
  position: relative;
}

.wrapper:hover .deleteOverlay {
  @extend .instance;
  position: absolute;
  width: 99999999px;
  opacity: 20%;
  background-color: #e25549;
}

.wrapper:hover .deleteOverlayMobile {
  @extend .instanceMobile;
  position: absolute;
  width: 99999999px;
  opacity: 20%;
  background-color: #e25549;
}

.rightsideHolder {
  display: flex;
  flex-direction: column;
  min-width: 0px;
  flex: 1;
}

.bottomRowHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 0.5;
}
