.sidepaneBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #121a21;
  min-height: 100%;
  width: 242px;
  min-width: 242px;
  flex-basis: 242px;
  flex-shrink: 0;
  padding-bottom: 15px; /* padding za botun doli */
  margin-left: auto;
}

.menuList {
  display: flex;
  flex-direction: column;

  list-style: none;
  padding-top: 20%;
  padding-left: 5%;

  gap: 8px;

  color: #719cac;
  text-align: left;
  font-family: "Exo 2", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.turnButton {
  align-self: center;
  padding-bottom: 0px;
  size: 48px;
}

.placeholderButton {
  color: #719cac;
  text-align: left;
  font-family: "Exo 2", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  background-color: #121a21;
  border: none;
}
.placeholderButton:hover {
  color: #c3dbe5;
}

.SwitchRoot {
  width: 42px;
  height: 25px;
  //background-color: #121a21;
  background-color: #719cac;
  //border-color: #719cac;
  border-color: #3d556a;
  border-radius: 9999px;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
// .SwitchRoot:focus {
//   box-shadow: 0 0 0 1px #719cac;
// }
.SwitchRoot[data-state="checked"] {
  background-color: #e25549;
  //background-color: #719cac;
}

.SwitchThumb {
  display: block;
  width: 21px;
  height: 21px;
  //background-color: #719cac;
  background-color: #121a21;
  border-radius: 9999px;
  transition: transform 100ms;
  transform: translateX(2px);
  will-change: transform;
}
.SwitchThumb[data-state="checked"] {
  transform: translateX(19px);
}

.Label {
  color: #719cac;
  text-align: left;
  font-family: "Exo 2", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Label:hover {
  color: #c3dbe5;
}

.LabelDeleteMode {
  @extend .Label;
  color: #e25549;
}
