.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
}

.pageBox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  height: 100vh;
}

.appBoundingBox {
  min-height: 100%;
  min-width: 0;
}

.scrollables {
  overflow-y: auto;
  width: 100%;
}
